* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
:root {
  --main-color: #ff5400;
  --section-title-color: #131318;
  --p-color: rgba(19, 19, 24, 0.7);
  --menu-font-color: var(--Dark-02, #424247);
}
/* share class */
.primary-btn {
  padding: 14px 32px;
  background-color: var(--main-color);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
}
/* Nav section */
.nav {
  width: 100%;
}

.nav .nav-container .nav-content {
  max-width: 1180px;
  height: 100px;
  padding: 0 25px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-content .menu {
  display: flex;
  align-items: center;
}
.nav-content .menu i {
  display: none;
  font-size: 20px;
  font-weight: 600;
}
.nav-content .menu ul {
  display: flex;
  list-style: none;
  gap: 44px;
}
.nav-content .menu ul li a {
  text-decoration: none;
  color: var(--Dark-02, #424247);
}
.nav-logo {
  display: flex;
  align-items: center;
}
.nav-logo .travel {
  color: var(--main-color);
}
.nav-logo h1 {
  font-size: 36px;
  color: #131318;
  padding-left: 16px;
}

/* Hero banner section */
.hero {
  padding: 50px 25px;
}
.hero-container {
  margin: 0 auto;
  width: 1170px;
  height: 500px;
  border-radius: 16px;
  max-width: 100%;
  background-position: center;
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(Images/heroimg.png);
  background-repeat: no-repeat;
}
.hero-container .hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  text-align: center;
  justify-content: center;
}
.hero-container .hero-content h1 {
  font-size: 64px;
  color: #fff;
}
#active {
  color: var(--main-color);
}
.hero-container .hero-content p {
  max-width: 760px;
  padding: 24px 0 40px 0;
  color: #fff;
}
.hero-form {
  background: rgba(255, 255, 255, 0.3);
  padding: 16px;
  border-radius: 8px;
}
.hero-form form {
  display: flex;
}
.hero-form form input {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  margin: 10px;
  border: none;
  padding: 16px;
}
.hero-form form select {
  width: 174px;
  border-radius: 8px;
  border: none;
  height: 52px;
  margin: 10px;
  padding: 16px;
}
form select {
  font-size: 16px;
  color: var(--p-color);
}
form input::placeholder {
  font-size: 16px;
}
.hero-form form .form-btn {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  border: none;
  margin: 10px;
  padding: 16px;
}
.hero-form button {
  background-color: var(--main-color);
  color: white;
  font-size: 16px;
  font-weight: 700;
}
.hero-form button i {
  font-size: 20px;
  padding-right: 10px;
}

/* popular tour section */
.popular-tour {
  width: 100%;
}
.popular-tour .popular-tour-container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 70px 25px;
}
.popular-tour .popular-tour-container .popular-tour-content {
  display: flex;
  align-items: center;
}
.popular-text-content {
  padding-right: 30px;
  max-width: 590px;
}
.popular-text-content h1 {
  font-size: 40px;
  color: var(--section-title-color);
}
.popular-text-content p {
  font-size: 16px;
  color: var(--p-color);
  padding: 24px 0;
}
.popular-text-content ul {
  color: var(--p-color);
  padding-left: 35px;
}
.popular-text-content ul li {
  padding: 15px 0;
}
.popular-img {
  max-width: 590px;
}
.popular-img img {
  width: 100%;
}

/* Destination section */
.destination {
  width: 100%;
}
.destination .destination-container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 25px;
}
.destination-header {
  text-align: center;
}
.destination-header h1 {
  font-size: 40px;
  color: var(--section-title-color);
  padding-bottom: 20px;
}
.destination-header p {
  color: var(--p-color);
  padding-bottom: 40px;
}
.first-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  padding-bottom: 24px;
}
.first-row .maldives {
  background-image: url(Images/Rectangle\ 5.png);
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 573px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 21px;
}
.first-row .indonesia {
  background-image: url(Images/Rectangle\ 8.png);
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 573px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 21px;
}
.second-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding-bottom: 24px;
}
.second-row .srilanka {
  background-image: url(Images/Rectangle\ 6.png);
  width: 374px;
  height: 286px;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 21px;
}
.second-row .north-america {
  background-image: url(Images/Rectangle\ 7.png);
  width: 474px;
  height: 286px;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 21px;
}
.second-row .kashmir {
  background-image: url(Images/Rectangle\ 9.png);
  width: 274px;
  height: 286px;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 21px;
}
.third-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.third-row .bangladesh {
  background-image: url(Images/Rectangle\ 11.png);
  width: 473px;
  height: 300px;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 21px;
}
.third-row .bandarban {
  background-image: url(Images/Rectangle\ 10.png);
  width: 673px;
  height: 300px;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 21px;
}

/* Choose us section */
.choose-us {
  width: 100%;
}
.choose-us .choose-us-container {
  max-width: 1180px;
  margin: 0 auto;
  padding-top: 100px;
  padding-left: 25px;
  padding-right: 25px;
}
.choose-us-header {
  text-align: center;
  padding-bottom: 40px;
}
.choose-us-header h1 {
  color: var(--section-title-color);
  font-size: 40px;
  padding-bottom: 20px;
}
.choose-us-header p {
  color: var(--p-color);
}
.choose-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.choose-cards .card {
  width: 520px;
  height: auto;
  padding: 32px;
  border-radius: 16px;
  margin: 12px;
  background: rgba(233, 68, 68, 0.05);
}
.choose-cards .card h2 {
  font-size: 20px;
  color: var(--section-title-color);
}
.choose-cards .card p {
  color: var(--p-color);
}
.choose-cards #service {
  background: rgba(41, 206, 246, 0.05);
}
.choose-cards .card h2 {
  padding: 30px 0 10px 0;
}

/* Deals and discount section */
.deals-discount {
  width: 100%;
  margin-top: 90px;
}
.header-content {
  text-align: center;
  padding-bottom: 48px;
}
.header-content h1 {
  font-size: 40px;
  color: var(--section-title-color);
  padding-bottom: 24px;
}
.header-content p {
  color: var(--p-color);
}
.deals-discount .deals-discount-container {
  max-width: 1180px;
  padding: 0 25px;
  margin: 0 auto;
}
.deals-discount-content {
  background-image: url(Images/Group\ 40.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 1170px;
  height: 500px;
  max-width: 100%;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 24px;
}
#mid-deals {
  background-image: url(Images/Group\ 41.png);
  justify-content: start;
  background-position: center;
  background-repeat: no-repeat;
}
#mid-content {
  margin-left: 54px;
}
.all-contents {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  width: 579px;
  height: auto;
  padding: 50px;
  margin-right: 54px;
  border-radius: 16px;
}
.date-location {
  display: flex;
  gap: 24px;
  padding-bottom: 24px;
}
.all-contents h2 {
  font-size: 24px;
  padding-bottom: 20px;
}
.all-contents p {
  color: var(--p-color);
  padding-bottom: 16px;
}
.all-contents h3 {
  color: var(--main-color);
  font-size: 20px;
  padding-bottom: 20px;
}
.date-location p i {
  padding-right: 8px;
  font-size: 18px;
  color: var(--main-color);
}
.dealsbtn {
  text-align: center;
  padding-top: 40px;
}

/* perfect place section */
.perfect-place {
  width: 100%;
}
.perfect-place .perfect-place-container {
  max-width: 1180px;
  padding: 0 25px;
  margin: 0 auto;
  padding-top: 100px;
}
.perfect-place-container .perfect-place-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.perfect-left-text {
  padding-right: 25px;
}

.perfect-left-text h1 {
  color: var(--section-title-color);
  font-size: 40px;
  padding-bottom: 24px;
}
.perfect-left-text p {
  color: var(--p-color);
  padding-bottom: 20px;
}
.perfect-left-text ul {
  padding: 0 0 10px 15px;
}
.perfect-left-text ul li {
  padding-bottom: 16px;
}

/* Newsletter section */
.newsletter {
  width: 100%;
}
.newsletter .newsletter-container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 25px;
  padding-top: 90px;
}
.newsletter-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.newsletter-content .form-left {
  border: 2px solid #ff5400;
  border-radius: 16px;
  padding: 40px;
}
.newsletter-content .form-left form {
  display: flex;
  flex-direction: column;
}
.newsletter-content .form-left h2 {
  font-size: 24px;
  padding-bottom: 16px;
  color: var(--section-title-color);
}
.newsletter-content .form-left p {
  color: var(--p-color);
}
.newsletter-content .form-left hr {
  margin: 24px 0;
  color: rgba(19, 19, 24, 0.1);
}
.newsletter-content .form-left form input {
  width: auto;
  height: 52px;
  background: rgba(19, 19, 24, 0.05);
  border: none;
  border-radius: 8px;
  margin-bottom: 16px;
  padding-left: 20px;
}
.subscribe-btn {
  width: auto;
  height: 52px;
  margin-top: 8px;
  border: none;
  border-radius: 8px;
  background-color: var(--main-color);
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.newsletter-img img {
  width: 100%;
  height: 422px;
}
.text-content h2 {
  font-size: 24px;
  font-weight: 400;
}
.text-content h1 {
  font-size: 32px;
}
.text-content {
  background-color: #ff5400;
  color: #fff;
  width: auto;
  height: auto;
  text-align: center;
  padding: 20px;
  position: absolute;
  bottom: 60px;
  right: 10px;
  border-radius: 16px;
  transform: rotate(-22deg);
}
.newsletter-img {
  position: relative;
}
/* footer container */
.footer-container {
  width: 100%;
  margin-top: 90px;
  height: 500px;
  background: rgba(19, 19, 24, 0.05);
  display: flex;
  align-items: center;
}
.footer-container .footer-content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 25px;
  text-align: center;
}
.footer-logo h1 .travel {
  color: var(--main-color);
}
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 16px;
}
.footer-logo h1 {
  font-size: 32px;
  padding-left: 15px;
  color: var(--section-title-color);
}
.footer-content p {
  color: var(--p-color);
  padding-bottom: 32px;
  width: auto;
}
.footer-icon i {
  font-size: 26px;
  margin: 0 10px;
  background-color: #dddddd;
  padding: 8px;
  border-radius: 20px;
}
.footer-content hr {
  margin: 50px 0;
}
.footer-logo img {
  width: 50px;
}
/* footer section */

/* Responsive for mobile device */
@media (max-width: 576px) {
  /* nav-section */
  .nav-logo h1 {
    font-size: 22px;
  }
  .nav-content .menu ul {
    display: none;
  }
  .nav-content .menu i {
    display: block;
  }
  .nav-logo img {
    width: 30px;
    height: 35px;
  }
  /* hero section */
  .hero {
    padding: 25px 25px;
  }
  .hero-container .hero-content h1 {
    font-size: 24px;
    padding-top: 32px;
  }
  .hero-container .hero-content p {
    font-size: 14px;
  }
  .hero-container .hero-content {
    padding: 24px;
  }
  .hero-form form {
    flex-direction: column;
  }
  .hero-form form input {
    width: 255px;
  }
  .hero-form form select {
    width: 255px;
  }
  .hero-form form .form-btn {
    width: 255px;
  }
  .hero-form {
    margin-bottom: 32px;
  }
  .hero-container .hero-content p {
    padding: 8px 0 30px 0;
  }

  /* Popular tour section */
  .popular-tour .popular-tour-container .popular-tour-content {
    flex-direction: column;
  }
  .destination-header h1 {
    font-size: 20px;
    padding-top: 24px;
    padding-bottom: 16px;
  }
  .destination-header p {
    padding-bottom: 20px;
    font-size: 14px;
  }

  .popular-tour .popular-tour-container {
    padding: 0px 25px;
  }
  .popular-text-content h1 {
    font-size: 20px;
  }
  .popular-text-content p {
    padding: 16px 0;
    font-size: 14px;
  }
  .popular-text-content li {
    font-size: 14px;
  }
  .primary-btn {
    font-size: 16px;
  }
  .popular-img img {
    padding-top: 24px;
  }

  /* Destination section */
  .first-row {
    grid-template-columns: repeat(1, 1fr);
  }
  .second-row {
    grid-template-columns: repeat(1, 1fr);
  }
  .third-row {
    grid-template-columns: repeat(1, 1fr);
  }
  .first-row .maldives {
    width: 100%;
    height: 176px;
    background-size: 100% 100%;
    font-size: 18px;
    border-radius: 16px;
  }
  .first-row .indonesia {
    width: 100%;
    height: 176px;
    background-size: 100% 100%;
    font-size: 18px;
    border-radius: 16px;
  }
  .second-row .srilanka {
    width: 100%;
    height: 176px;
    background-size: 100% 100%;
    font-size: 18px;
    border-radius: 16px;
  }
  .second-row .north-america {
    width: 100%;
    height: 176px;
    background-size: 100% 100%;
    font-size: 18px;
    border-radius: 16px;
  }
  .second-row .kashmir {
    width: 100%;
    height: 176px;
    background-size: 100% 100%;
    font-size: 18px;
    border-radius: 16px;
  }
  .third-row .bangladesh {
    width: 100%;
    height: 176px;
    background-size: 100% 100%;
    font-size: 18px;
    border-radius: 16px;
  }
  .third-row .bandarban {
    width: 100%;
    height: 176px;
    background-size: 100% 100%;
    font-size: 18px;
    border-radius: 16px;
  }
  /* choose us section */
  .choose-us-header h1 {
    font-size: 20px;
    padding-bottom: 16px;
  }
  .choose-us-header p {
    font-size: 14px;
  }
  .choose-us .choose-us-container {
    padding-top: 35px;
  }
  .choose-us-header {
    padding-bottom: 16px;
  }
  .card p {
    font-size: 14px;
  }

  /* Deals and discount section */
  .date-location {
    gap: 12px;
    flex-wrap: wrap;
  }
  .header-content h1 {
    font-size: 20px;
    padding-bottom: 16px;
  }
  .header-content p {
    font-size: 14px;
  }
  .header-content {
    padding-bottom: 16px;
  }
  .all-contents p {
    padding-bottom: 10px;
    font-size: 14px;
  }
  .all-contents h2 {
    font-size: 20px;
    padding-bottom: 8px;
  }
  .all-contents {
    margin: 20px;
    padding: 25px;
  }
  #mid-content {
    margin: 20px;
  }
  .date-location {
    padding-bottom: 12px;
  }
  .deals-discount-content {
    align-items: end;
  }
  .dealsbtn .primary-btn {
    display: none;
  }

  /* perfect place section */
  .perfect-place-container .perfect-place-content {
    flex-direction: column;
  }
  .right-video video {
    max-width: 100%;
    height: auto;
    border-radius: 16px;
    margin-top: 24px;
  }
  .perfect-place .perfect-place-container {
    padding-top: 0;
  }
  .perfect-left-text h1 {
    font-size: 20px;
    padding-bottom: 16px;
  }
  .perfect-left-text p {
    padding-bottom: 16px;
    font-size: 14px;
  }
  .perfect-left-text ul li {
    padding-bottom: 16px;
    font-size: 14px;
  }

  /* newsletter section */
  .newsletter-content {
    flex-direction: column;
  }
  .right-img .img-container {
    width: 400px;
    border-radius: 16px;
  }
  .newsletter-content .form-left h2 {
    font-size: 20px;
    padding-bottom: 8px;
  }
  .newsletter-content .form-left p {
    color: var(--p-color);
    font-size: 14px;
  }
  .newsletter-content .form-left hr {
    margin: 16px 0;
  }
  .newsletter .newsletter-container {
    padding-top: 26px;
  }
  .text-content h1 {
    font-size: 20px;
  }
  .text-content h2 {
    font-size: 15px;
  }
  .newsletter-content .form-left {
    padding: 23px;
  }
  /* footer section */
  .footer-logo h1 {
    font-size: 20px;
  }
  .footer-logo img {
    width: 40px;
  }
  .footer-content p {
    padding-bottom: 18px;
    font-size: 14px;
  }
  .footer-content hr {
    margin: 24px 0;
  }
  .footer-container {
    margin-top: 20px;
  }
}
